<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission" />

    <uses-permission android:name="${webuiPermissionId}.permission.WEBUI_X" />
    <uses-permission android:name="${webuiPermissionId}.permission.WEBUI_LEGACY" />
    <uses-permission android:name="${webuiPermissionId}.permission.MODCONF" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <queries>
        <package android:name="com.topjohnwu.magisk" />
        <package android:name="io.github.huskydg.magisk" />
        <package android:name="me.weishu.kernelsu" />
        <package android:name="me.bmax.apatch" />
        <package android:name="com.rifsxd.ksunext" />
        <package android:name="com.sukisu.ultra" />
        <package android:name="com.dergoogler.mmrl.wx" />
        <package android:name="com.dergoogler.mmrl.wx.debug" />
        <package android:name="net.dinglisch.android.taskerm" />

        <intent>
            <action android:name="android.settings.APP_NOTIFICATION_SETTINGS" />
        </intent>

        <intent>
            <action android:name="android.settings.APPLICATION_DETAILS_SETTINGS" />
        </intent>
    </queries>

    <application
        android:name="${__packageName__}.App"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="34">

        <activity
            android:name="${__packageName__}.ui.activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="mmrl-mikeyphw" />
                <data android:host="repository" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:host="mmrl.dev" />
                <data android:pathPrefix="/repository" />

                <data android:scheme="https" />
                <data android:host="mmrl.dev" />
                <data android:pathPrefix="/repository" />

            </intent-filter>
        </activity>

        <activity
            android:name="${__packageName__}.ui.activity.terminal.install.InstallActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/install_activity"
            android:taskAffinity="${applicationId}.INSTALL">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="content" />
                <data android:mimeType="application/zip" />
            </intent-filter>
        </activity>

        <activity
            android:name="${__packageName__}.ui.activity.ScreenshotsPreviewActivity"
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${__packageName__}.ui.activity.terminal.action.ActionActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/action_activity"
            android:taskAffinity="${applicationId}.ACTION">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="${__packageName__}.ui.activity.CrashHandlerActivity"
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!-- Tasker actions: read-only status/update queries and queued downloads. -->
        <activity android:name="${__packageName__}.tasker.GetModuleStatusConfigActivity" android:exported="true" android:icon="@mipmap/launcher" android:label="@string/tasker_action_get_module_status">
            <intent-filter><action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" /></intent-filter>
        </activity>
        <activity android:name="${__packageName__}.tasker.ListModulesConfigActivity" android:exported="true" android:icon="@mipmap/launcher" android:label="@string/tasker_action_list_modules">
            <intent-filter><action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" /></intent-filter>
        </activity>
        <activity android:name="${__packageName__}.tasker.CheckUpdatesConfigActivity" android:exported="true" android:icon="@mipmap/launcher" android:label="@string/tasker_action_check_updates">
            <intent-filter><action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" /></intent-filter>
        </activity>
        <activity android:name="${__packageName__}.tasker.GetOperationResultConfigActivity" android:exported="true" android:icon="@mipmap/launcher" android:label="@string/tasker_action_get_operation">
            <intent-filter><action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" /></intent-filter>
        </activity>
        <activity android:name="${__packageName__}.tasker.DownloadModuleConfigActivity" android:exported="true" android:icon="@mipmap/launcher" android:label="@string/tasker_action_download_module">
            <intent-filter><action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" /></intent-filter>
        </activity>
        <activity android:name="${__packageName__}.tasker.CancelDownloadConfigActivity" android:exported="true" android:icon="@mipmap/launcher" android:label="@string/tasker_action_cancel_download">
            <intent-filter><action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" /></intent-filter>
        </activity>
        <activity android:name="${__packageName__}.tasker.ExportOperationLogConfigActivity" android:exported="true" android:icon="@mipmap/launcher" android:label="@string/tasker_action_export_log">
            <intent-filter><action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" /></intent-filter>
        </activity>

        <activity android:name="${__packageName__}.tasker.EnableModuleConfigActivity" android:exported="true" android:icon="@mipmap/launcher" android:label="@string/tasker_action_enable_module"><intent-filter><action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" /></intent-filter></activity>
        <activity android:name="${__packageName__}.tasker.DisableModuleConfigActivity" android:exported="true" android:icon="@mipmap/launcher" android:label="@string/tasker_action_disable_module"><intent-filter><action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" /></intent-filter></activity>
        <activity android:name="${__packageName__}.tasker.RemoveModuleConfigActivity" android:exported="true" android:icon="@mipmap/launcher" android:label="@string/tasker_action_remove_module"><intent-filter><action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" /></intent-filter></activity>
        <activity android:name="${__packageName__}.tasker.RunModuleActionConfigActivity" android:exported="true" android:icon="@mipmap/launcher" android:label="@string/tasker_action_run_module_action"><intent-filter><action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" /></intent-filter></activity>
        <activity android:name="${__packageName__}.tasker.RestoreModuleConfigActivity" android:exported="true" android:icon="@mipmap/launcher" android:label="@string/tasker_action_restore_module"><intent-filter><action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" /></intent-filter></activity>
        <activity android:name="${__packageName__}.tasker.PrepareReviewedInstallConfigActivity" android:exported="true" android:icon="@mipmap/launcher" android:label="@string/tasker_action_prepare_install"><intent-filter><action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" /></intent-filter></activity>
        <activity android:name="${__packageName__}.tasker.ExecuteReviewedInstallConfigActivity" android:exported="true" android:icon="@mipmap/launcher" android:label="@string/tasker_action_execute_install"><intent-filter><action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" /></intent-filter></activity>
        <activity android:name="${__packageName__}.tasker.AshCapabilitiesConfigActivity" android:exported="true" android:icon="@mipmap/launcher" android:label="@string/tasker_action_ash_capabilities"><intent-filter><action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" /></intent-filter></activity>
        <activity android:name="${__packageName__}.tasker.AshRecoveryStatusConfigActivity" android:exported="true" android:icon="@mipmap/launcher" android:label="@string/tasker_action_ash_status"><intent-filter><action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" /></intent-filter></activity>
        <activity android:name="${__packageName__}.tasker.AshListEvidenceConfigActivity" android:exported="true" android:icon="@mipmap/launcher" android:label="@string/tasker_action_ash_evidence"><intent-filter><action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" /></intent-filter></activity>
        <activity android:name="${__packageName__}.tasker.AshPrepareRecoveryPlanConfigActivity" android:exported="true" android:icon="@mipmap/launcher" android:label="@string/tasker_action_ash_prepare_plan"><intent-filter><action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" /></intent-filter></activity>
        <activity android:name="${__packageName__}.tasker.AshExecuteRecoveryPlanConfigActivity" android:exported="true" android:icon="@mipmap/launcher" android:label="@string/tasker_action_ash_execute_plan"><intent-filter><action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" /></intent-filter></activity>
        <activity android:name="${__packageName__}.tasker.AshRecordGuidanceOutcomeConfigActivity" android:exported="true" android:icon="@mipmap/launcher" android:label="@string/tasker_action_ash_outcome"><intent-filter><action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" /></intent-filter></activity>
        <activity android:name="${__packageName__}.tasker.AshRefreshEvidenceConfigActivity" android:exported="true" android:icon="@mipmap/launcher" android:label="@string/tasker_action_ash_refresh"><intent-filter><action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" /></intent-filter></activity>
        <activity android:name="${__packageName__}.tasker.TaskerApprovalActivity" android:exported="false" android:excludeFromRecents="true" android:theme="@style/Theme.MMRL" />

        <!-- Tasker event conditions. -->
        <activity android:name="${__packageName__}.tasker.UpdateDiscoveredEventConfigActivity" android:exported="true" android:icon="@mipmap/launcher" android:label="@string/tasker_event_update_discovered">
            <intent-filter><action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" /></intent-filter>
        </activity>
        <activity android:name="${__packageName__}.tasker.OperationFailedEventConfigActivity" android:exported="true" android:icon="@mipmap/launcher" android:label="@string/tasker_event_operation_failed">
            <intent-filter><action android:name="net.dinglisch.android.tasker.ACTION_EDIT_EVENT" /></intent-filter>
        </activity>

        <service
            android:name="${__packageName__}.service.DownloadService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <service
            android:name="${__packageName__}.service.RepositoryService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <service
            android:name="${__packageName__}.service.ModuleService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <service
            android:name="${__packageName__}.service.ProviderService"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <service
            android:name="${__packageName__}.service.LogcatService"
            android:exported="false" />

        <service
            android:name="${__packageName__}.ash.root.AshRootService"
            android:exported="false"
            tools:ignore="Instantiatable" />

        <receiver
            android:name="${__packageName__}.receiver.LogcatReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="${__packageName__}.ash.automation.AshAutomationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="${__packageName__}.receiver.OperationHistoryBootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>
